
   *{
        margin: 0;
        box-sizing: border-box;
        text-align: center;
    }
    /* * + * {
        margin-top: 0.2em;
    } */
    body{
     font-size: calc(10px+1vh);
     height: 98vh ;    
     position: relative;
    }
    header{font-size: 3em;
           height: 20% ;
           position: relative;
    }
    nav{ height: 6% ;}
    nav button{
        font-size: 1.4em;
       }
    button.small{
        width: 30%;
        padding: 0.1em 0.2em;  
    }
    button.big{
        width: 40%;
        padding: 0.1em 0.5em;  
    }
    main{
        margin-top: 1em;
        font-size: 1.6em;
        height: 60% ;
        position: relative;
    }
    main p#en{
        font-size: 1.6em;
        color:lightblue;
        text-shadow: 2px 2px gray ;
    }
    main p#pn{
        font-size: 1.2em;
        color:lightseagreen;
       }
    form{
        position: absolute ;
        width: 90% ;
        height: 50% ;
        border: 2px solid rgb(189, 149, 149);
        left: 5% ;
        top: 15% ;
        background-color: rgb(177, 187, 144);
        font-size: 1.1em ;
    }
    form input{
        font-size: 1.1em ;
        width: 6em;
    }
    form button{
        font-size: 1.3rem ;
        margin-right: 1em;
    }
    footer{
        height: 20% ;
        font-size:1.2em;
    }
    span#level{
        display: block;
        position: absolute;
        right:20px;
        top:1px;
        color:rgb(127, 127, 206);
        font-size: 0.5em;
    }
    p.cn{
      border:1px solid rgb(136, 136, 241) ;
      background-color: antiquewhite;
      cursor: pointer;
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
    p.cn.right{
      background-color: yellow;
      color: rgb(241, 102, 102) ;
    }
    p.cn.wrong{
      background-color: gray;
      color:white;
    }
    p.cn:hover{
        color: rgb(133, 133, 231) ;
    }
    header span#response{
        font-size: 0.8em;
        color: rgb(236, 132, 132);
        position: absolute;
        right: 0.5em;
        top:2em;
    }
    p#log{
        font-size: 0.6em;
        color:white;
        background-color:rgb(54, 52, 52);
        padding: 5px 10px;
    }